.first {
  background: linear-gradient(90deg, #50FF78 -12.81%, #009BE7 114.88%);
  .title {
    padding-top: 26rem;
    @media screen and (max-width: 768px) {
      padding-top: 20rem;
    }
    @media screen and (max-height: 781px) {
      padding-top: 15rem;
    }
    @media screen and (max-height: 400px) {
      padding-top: 10rem;
    }
  }
  .animation-container {
    & > div {
      @media screen and (max-width: 414px) {
        width: 100% !important;
      }
    }
  }
}